/* ============== Start Global ===============  */
* {
    margin: 0;
    padding: 0;   
}

body {
    overflow: hidden;
}
/* ============== End Global ===============  */
/* ============== Start Navbar ===============  */
.navbar {
    padding-top: 30px;
    transition: 0.3s ease-in-out;
    z-index: 2000 !important;
}

.navChange {
    background: #fff;
    padding: 0;
    position: fixed;
    border-bottom: 4px solid #1E2A40;
    transition: 0.3s ease-in-out;
    z-index: 200 !important
}

.navChange .navbar-nav .nav-link {
    color: #1E2A40 !important; 
    border-color:#1E2A40 !important;
    font-size: 15px;
}

.navChange .navbar-nav .nav-link:hover {
    background: #1E2A40;
    color: #fff !important;
}

.navChange .navbar-brand {
    padding: 0 !important;
}

.navChange img {
    transform: scale(0.7,0.7);
}

.navChange img:hover {
    transform: scale(0.8,0.8) !important;
}

.navbar .navbar-brand img {
    height: 72.5px;
    width: 125px;
    transition: 0.3s ease-in-out;
}   

.navbar .navbar-brand img:hover {
    transform: scale(1.2 , 1.2);
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    border-right: 2px solid #fff;
    padding: 0 10px;
    transition: 0.2s ease-in-out;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #000;
    border-color: #000;
}

.navbar-expand-lg .navbar-nav .contactPage {
    border-right: none;
}

.dropdown .dropdown-menu {
    border: none;
    border-bottom: 4px solid #1E2A40;
    border-radius: 0;
}

.nav-item .dropdown-menu a:hover {
    background: #1e2a40;
    color: #fff;
}
/* ============== End Navbar ===============  */
/* ============== Start Main =============== */
main {
    background: #F6D396;
    background-image: url("../images/certification/mainBackground1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top top;
    height: 200px;
    margin-top: -121px;
}
/* ============== End Main =============== */
/* ============== Start header =============== */
header {
    background: #c0bfbd;
    background-image: url("../images/careers/careerBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}

header h1 {
    color: #fff;
}
/* ============== End header =============== */
/* ============== Start go_up icon =============== */
.go_up {
    position: fixed;
    z-index: 5;
    right: 40px;
    top: 90%;
    padding: 15px 10px;
    background: #1E2A40;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
/* ============== End go_up icon =============== */
/* ============== Start career_slider =============== */
.career_slider {
    padding: 60px 0px;
}

.career_slider .career_slider_header {
    margin-top: 40px;
}

.career_slider .owl-five {
    margin-top: 30px;
    padding-top: 5px;
}

.career_slider .owl-five .owl-item {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 40px 20px;
    margin-top: -20px;
    width: 240px !important;
}

.career_slider .owl-five .item {
    padding: 20px 20px;
    border: 1px solid #ddd;
    transition: 0.3s ease-in-out;
    width: 200px !important;
    height: 199.7px;
}

.career_slider .owl-five .owl-item .item:hover {
    box-shadow: 0 0 20px rgb(133, 130, 130);
}

.career_slider .owl-five .owl-item .item:hover h2 {
    color: #F7C473;
}

.career_slider .owl-five .item img {
    width: 80px;
    height: 80px;
}

.career_slider .owl-five .item h2 {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #1E2A40;
}

.career_slider .owl-five .item p {
    color: #1E2A40;
    font-size: 15px;
    font-weight: 500;
}

.career_slider .owl-theme .owl-nav {
    display: none;
}

.career_slider .owl-theme .owl-dots {
    display: block !important;
    margin-top: 200px;
}

.career_slider .owl-theme .owl-dots .owl-dot {
    outline: none;
}

.career_slider .owl-theme .owl-dots .owl-dot span {
    background: #1E2A40;
}

.career_slider .owl-theme .owl-dots .owl-dot.active span {
    background: #F7C473;
}


.sliderTotalArticles .slider_article {
    padding: 20px 0;
    display: none;
}

.sliderTotalArticles .slider_article#article_Freelance {
    display: block;
}

.sliderTotalArticles .slider_article h2 {
    color: #1E2A40;
}

.sliderTotalArticles .slider_article p {
    color: #1E2A40;
    width: 70%;
    font-size: 20px;
    font-weight: 600;
}
/* ============== End career_slider =============== */
/* ============== Start account_manager =============== */
.account_manager {
    padding-bottom: 40px;
}

.account_manager .applyNowMessage {
    background: #F7C472;
    padding: 40px 60px;
    border-radius: 15px;
    position: relative;
    display: none;
}

.account_manager .applyNowMessage::after {
    position: absolute;
    content: '';
    top: 100%; 
    left: 20%;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 30px solid #F7C472;
    border-bottom: 30px solid transparent;
}

.account_manager .applyNowMessage h2 {
    font-size: 25px;
}

.account_manager .applyNowMessage button {
    color: #F7C472;
    padding: 7px 20px;
    background: #fff;
    border: none;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}

.account_manager .applyNowMessage button:hover {
    box-shadow: 0 0 20px rgb(133, 130, 130);
}

.account_manager .accountManagerSection {
    padding-bottom: 40px;
}

.account_manager .accountManagerSection img {
    width: 110px;
    height: 86px;
    margin-bottom: 20px;
    cursor: pointer;
}

.account_manager .accountManagerSection h2 {
    font-size: 25px;
    font-weight: 700;
}

.account_manager .accountManagerSection.changePosition {
    transform: translate(-120px,40px);
    padding-bottom: 100px;
    transition: 0.3s ease-in-out;
}

.account_manager .accountManagerSection.changePosition img {
    width: 90px;
    height: 66px;
    margin-bottom: 10px;
}

.account_manager .accountManagerSection.changePosition h2 {
    font-size: 20px;
}
/* ============== End account_manager =============== */
/* ============== Start footer =============== */
footer {
    padding: 60px 0 20px 0;
    background-image: linear-gradient(#fff, #EABA6C);
}

footer .footerLeft img {
    width: 145px; 
    height: 84.5px;
    transition: 0.3s ease-in-out;
}

footer .footerLeft img:hover {
    transform: scale(1.2,1.2);
}

footer .footerCenter ul:first-child {
    position: relative;
    padding-bottom: 7px;
}

footer .footerCenter ul:first-child::after {
    position: absolute;
    content: '';
    left: 19%;
    top: 100%;
    height: 2px;
    background: #000;
    width: 62%;
}

footer .footerCenter ul:first-child a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 0 10px;
}

footer .footerCenter ul:first-child a:hover {
    padding-bottom: 10px;
    padding-top: 5px;
}

footer .footerCenter ul:last-child {
    margin-top: 20px;
}

footer .footerCenter ul:last-child i {
    text-decoration: none;
    color: #fff;
    background: #333033;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    font-size: 18px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

footer .footerCenter ul:last-child i:hover {
    color: #333033;
    background: #fff;
}

footer .footerRight img {
    width: 94px; 
    height: 91.5px;
    transition: 0.3s ease-in-out;
}

footer .footerRight img:hover {
    transform: scale(1.2,1.2);
}
/* ============== End footer =============== */
/* ===== Start load spinner ===== */
.page_over_lay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;    height: 100%;
    top: 0;    left: 0;
    z-index: 99999;
    /* background: #F6CA81; */
    /* background: rgb(217,216,59);
    background: linear-gradient(157deg, rgba(217,216,59,1) 0%, rgba(246,202,129,1) 65%); */

    background: rgb(150,51,51);
    background: linear-gradient(157deg, rgba(150,51,51,1) 0%, rgba(246,202,129,1) 65%);
}
.sk-folding-cube {
    position: relative;
    margin: 20px auto;
    width: 40px;    height: 40px;
    -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
                -ms-transform: rotateZ(45deg);
                    transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
    position: relative;
    float: left;
    width: 50%;    height: 50%;
    -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
    position: absolute;
    content: '';
    top: 0;    left: 0;
    width: 100%;    height: 100%;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        -moz-animation: sk-foldCubeAngle 2.4s infinite linear both;
            -o-animation: sk-foldCubeAngle 2.4s infinite linear both;
                -ms-animation: sk-foldCubeAngle 2.4s infinite linear both;
                    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
                -ms-transform-origin: 100% 100%;
                    transform-origin: 100% 100%;
    background:#000;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
        -moz-transform: scale(1.1) rotateZ(90deg);
            -o-transform: scale(1.1) rotateZ(90deg);
                -ms-transform: scale(1.1) rotateZ(90deg);
                    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
        -moz-transform: scale(1.1) rotateZ(180deg);
            -o-transform: scale(1.1) rotateZ(180deg);
                -ms-transform: scale(1.1) rotateZ(180deg);
                    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
        -moz-transform: scale(1.1) rotateZ(270deg);
            -o-transform: scale(1.1) rotateZ(270deg);
                -ms-transform: scale(1.1) rotateZ(270deg);
                    transform: scale(1.1) rotateZ(270deg);
}
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
            -o-animation-delay: 0.3s;
                -ms-animation-delay: 0.3s;
                    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
            -o-animation-delay: 0.6s;
                -ms-animation-delay: 0.6s;
                    animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s;
            -o-animation-delay: 0.9s;
                -ms-animation-delay: 0.9s;
                    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
            -moz-transform: perspective(140px) rotateX(-180deg);
                -o-transform: perspective(140px) rotateX(-180deg);
                    -ms-transform: perspective(140px) rotateX(-180deg);
                        transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
            -moz-transform: perspective(140px) rotateX(0deg);
                -o-transform: perspective(140px) rotateX(0deg);
                    -ms-transform: perspective(140px) rotateX(0deg);
                        transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
            -moz-transform: perspective(140px) rotateX(180deg);
                -o-transform: perspective(140px) rotateX(180deg);
                    -ms-transform: perspective(140px) rotateX(180deg);
                        transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
}
@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
            -moz-transform: perspective(140px) rotateX(-180deg);
                -o-transform: perspective(140px) rotateX(-180deg);
                    -ms-transform: perspective(140px) rotateX(-180deg);
                        transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
            -moz-transform: perspective(140px) rotateX(0deg);
                -o-transform: perspective(140px) rotateX(0deg);
                    -ms-transform: perspective(140px) rotateX(0deg);
                        transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
            -moz-transform: perspective(140px) rotateX(180deg);
                -o-transform: perspective(140px) rotateX(180deg);
                    -ms-transform: perspective(140px) rotateX(180deg);
                        transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
}
/* ===== End load spinner ===== */

/* ################ Start the responsive of the page ################ */

/* ################ Large devices (desktops, less than 1200px) ################ */
@media (max-width: 1199.98px) {
    /* ============== Start Navbar ===============  */
    .navChange .navbar-nav .nav-link {
        font-size: 14px;
    }

    .navbar .navbar-brand img {
        height: 65px;
        width: 110px;
    }   

    .navbar .navbar-brand img:hover {
        transform: scale(1.1 , 1.1);
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
    } 
    /* ============== End Navbar ===============  */
    /* ============== Start header =============== */
    header {
        background-position: center;
    }
    /* ============== End header =============== */
    /* ============== Start go_up icon =============== */
    .go_up {
        right: 20px;
    }
    /* ============== End go_up icon =============== */
    /* ============== Start footer =============== */
    footer {
        padding-bottom: 10px;
    }

    footer .footerCenter ul:first-child::after {
        left: 13%;
        width: 74%;
    }
    /* ============== End footer =============== */
}

/* ################ Medium devices (tablets, less than 992px) ################ */
@media (max-width: 991.98px) { 
    /* ============== Start Navbar ===============  */
    .navbar {
        padding-top: 30px;
        transition: 0.3s ease-in-out;
    }

    .navChange {
        background: #fff;
        padding: 0;
        position: fixed;
        border-bottom: 4px solid #1E2A40;
        transition: 0.3s ease-in-out;
    }

    .navbarMenu {
        color: #1E2A40;
    }

    .navbar-toggler {
        border: 2.5px solid #1E2A40;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .mobileNavbar {
        background: #fff;
    }

    .navbar-nav {
        border-right:4px solid #1E2A40 !important;
        background: #fff;
        padding: 20px 0;
    } 

    .navChange {
        padding: 0px 16px 0px;
    }

    .navChange .navbar-nav {
        border-right: none !important;
    }

    .navbar-nav .nav-link {
        color: #1E2A40 !important; 
        border: none;
        font-size: 18px !important;
        padding: 5px 0 !important;
    }

    .navbar-nav .nav-link:hover {
        background: #1E2A40;
        color: #fff !important;
        padding-left: 30px !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        border: none;
    }

    .dropdown .dropdown-menu {
        border: none;
        border-left: 4px solid #1E2A40;
        border-radius: 0;
    }
    
    .dropdown .dropdown-menu .dropdown-item {
        font-size: 17px;
        transition: 0.3s ease-in-out;
    }

    .dropdown .dropdown-menu .dropdown-item:hover {
        padding-left: 40px;
    }
    /* ============== End Navbar ===============  */
    /* ============== Start Main =============== */
    main {
        height: 160px;
    }
    /* ============== End Main =============== */
    /* ============== Start header =============== */
    header {
        padding: 130px 0;
    }
    /* ============== End header =============== */
    /* ============== Start career_slider =============== */
    .sliderTotalArticles .slider_article h2 {
        font-size: 30px;
        margin-top: 10px;
    }

    .sliderTotalArticles .slider_article p {
        width: 90%;
    }
    /* ============== End career_slider =============== */
    /* ============== Start account_manager =============== */
    .account_manager .accountManagerSection h2 {
        font-size: 22px;
    }
    /* ============== End account_manager =============== */
    /* ============== Start footer =============== */
    footer {
        padding: 60px 0 10px 0;
    }

    footer .footerLeft img {
        width: 120px; 
        height: 70px;
    }

    footer .footerCenter ul:first-child::after {
        left: 5%;
        width: 90%;
    }

    footer .footerCenter ul:first-child a {
        font-size: 18px;
    }

    footer .footerCenter ul:last-child {
        margin-top: 0px;
    }

    footer .footerRight img {
        height: 80px;
    }
    /* ============== End footer =============== */
}

/* ################ Small devices (landscape phones, less than 768px) ################ */
@media (max-width: 767.98px) { 
    /* ============== Start footer =============== */
    footer {
        padding: 60px 0 10px 0;
    }

    footer .footerLeft img {
        width: 120px; 
        height: 70px;
    }

    footer .footerCenter ul:first-child {
        margin-top: 30px;
    }

    footer .footerCenter ul:first-child::after {
        left: 10%;
        width: 80%;
    }

    footer .footerRight {
        margin-top: -210px;
        margin-left: 400px;
    }

    footer .footerRight img {
        height: 80px;
    }
    /* ============== End footer =============== */
}

/* ################ Extra small devices (portrait phones, less than 576px) ################ */
@media (max-width: 575.98px) { 
    /* ============== Start Navbar ===============  */
    .navbar-brand img {
       height: 60px !important;
       width: 100px !important;
    }

    .navChange .navbar-toggler {
        margin-right: 10px;
    }
    /* ============== End Navbar ===============  */
    /* ============== Start header =============== */
    header {
        padding: 120px 0;
    }
    header h1 {
        font-size: 35px;
    }
    /* ============== End header =============== */
    /* ============== Start career_slider =============== */
    .career_slider {
        padding: 40px 0px;
    }

    .career_slider .owl-five .owl-item {
        padding: 40px 0px;
        margin: -20px 20px 0;
        width: 250px !important;
    }
    
    .career_slider .owl-five .item {
        padding: 20px 0px;
        width: 260px !important;
    }
    

    .sliderTotalArticles .slider_article h2 {
        font-size: 25px;
    }

    .sliderTotalArticles .slider_article p {
        width: 100%;
        font-size: 18px;
    }
    /* ============== End career_slider =============== */
    /* ============== Start account_manager =============== */
    .account_manager {
        padding-bottom: 40px;
    }

    .account_manager .applyNowMessage {
        padding: 20px 30px;
    }

    .account_manager .applyNowMessage::after {
        left: 40%; 
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-top: 20px solid #F7C472;
        border-bottom: 20px solid transparent;
    }

    .account_manager .applyNowMessage h2 {
        font-size: 20px;
    }

    .account_manager .accountManagerSection img {
        width: 100px;
        height: 76px;
    }

    .account_manager .accountManagerSection h2 {
        font-size: 20px;
    }

    .account_manager .accountManagerSection.changePosition {
        transform: translate(-7%,40px);
        padding-bottom: 70px;
    }
    /* ============== End account_manager =============== */
    /* ============== Start footer =============== */
    footer {
        padding: 40px 0 10px 0;
    }

    footer .footerLeft img {
        width: 90px; 
        height: 60px;
    }

    footer .footerRight {
        margin-top: 0;
        margin-left: 0;
    }

    footer .footerRight img {
        height: 70px;
        margin-top: 10px;
    }
    
    footer .footerLeft,
    footer .footerRight {
        display: flex; 
        justify-content: center !important;
    }

    footer .footerRight img:hover {
        transform: scale(1.1);
    }
    /* ============== End footer =============== */
}






